[submodule "vim/bundle/haskellmode"]
	path = vim/bundle/haskellmode
	url = git://github.com/ehamberg/haskellmode-vim.git
[submodule "vim/bundle/html-template-syntax"]
	path = vim/bundle/html-template-syntax
	url = git@github.com:pbrisbin/html-template-syntax.git
[submodule "vim/bundle/hoogle"]
	path = vim/bundle/hoogle
	url = git://github.com/Twinside/vim-hoogle.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/mileszs/ackvim.git
[submodule "vim/bundle/pdc"]
	path = vim/bundle/pdc
	url = git://github.com/vim-scripts/pdcvim.git
[submodule "vim/bundle/nerdcommentter"]
	path = vim/bundle/nerdcommentter
	url = git://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/VimClojure"]
	path = vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
