config/inkscape
config/gcloud
config/fontforge/FontsOpenAtLastQuit
config/karabiner/automatic_backups
config/wireshark
config/configstore
config/eclipse-workspace
config/ILSpy.xml
# Everything but the config file we've added shouldn't be tracked
config/mssqlcli

# Only has filechooser state, which doesn't need syncing:
config/gtk-2.0/

# Should maybe not have gone with Vundle over Pathogen.
# Oh well. Ignore these rather than submoduling them:
vim/bundle/

# For some reason, Yarn thinks its data files are config files.
config/yarn/global/
config/yarn/link/

# Ditto nvm
config/nvm/

# Ignore various things that don't really have any config.
config/mmc-doc/
config/mmc-get/
config/swi-prolog/
config/glab-cli/
