[submodule "vim/bundle/haskellmode"]
	path = vim/bundle/haskellmode
	url = git://github.com/ehamberg/haskellmode-vim.git
[submodule "vim/bundle/html-template-syntax"]
	path = vim/bundle/html-template-syntax
	url = git@github.com:pbrisbin/html-template-syntax.git
[submodule "vim/bundle/hoogle"]
	path = vim/bundle/hoogle
	url = git://github.com/Twinside/vim-hoogle.git
[submodule "vim/bundle/pdc"]
	path = vim/bundle/pdc
	url = git://github.com/vim-scripts/pdcvim.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/vim-elixir"]
	path = vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/bundle/vim-mix"]
	path = vim/bundle/vim-mix
	url = https://github.com/elixir-lang/vim-mix.git
[submodule "vim/bundle/rainbow_parentheses"]
	path = vim/bundle/rainbow_parentheses
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = git@github.com:rking/ag.vim.git
[submodule "vim/bundle/screen"]
	path = vim/bundle/screen
	url = git@github.com:ervandew/screen.git
[submodule "irb"]
	path = irb
	url = git://github.com/nviennot/irb-config.git
[submodule "vim/bundle/vim-compiler-go"]
	path = vim/bundle/vim-compiler-go
	url = git@github.com:rjohnsondev/vim-compiler-go.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/funcoo.vim"]
	path = vim/bundle/funcoo.vim
	url = git@github.com:rizzatti/funcoo.vim.git
[submodule "vim/bundle/dash.vim"]
	path = vim/bundle/dash.vim
	url = git@github.com:rizzatti/dash.vim.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "vim/bundle/elm.vim"]
	path = vim/bundle/elm.vim
	url = git@github.com:lambdatoast/elm.vim.git
